# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment & secrets
.env
.env.local
.env*.local
google-services.json
GoogleService-Info.plist

# OS
.DS_Store

# Logs
npm-debug.*
*.log

# EAS
.easignore
